* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration:none;
}

body {
    color: #212121;
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
}

.particles-container {
    height: 98vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.particle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    opacity: 0.7;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
}

h1 {
    font-size: 2.9rem;
    font-weight: 530;
    margin-bottom: 6px;
    background-size: 300% 300%;
}

p {
    font-size: 1.4rem;
    line-height: 1.6;
}
.home-btn1{
    background-color: #1976d2;
    color: #fff;
}
.home-btn1:hover{
     background-color: #176cc1;
}
.home-btn2{
    margin-left: 15px;
}
.home-btn2:hover{
    background-color: rgb(51, 51, 51);
}


@keyframes gradientShift {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

/* Particle animations */
 @keyframes move1 {

    0%,
    100% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(80px, 40px) rotate(90deg);
    }

    50% {
        transform: translate(40px, 80px) rotate(180deg);
    }

    75% {
        transform: translate(-40px, 60px) rotate(270deg);
    }
}

@keyframes move2 {

    0%,
    100% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(60px, -30px) rotate(45deg);
    }

    50% {
        transform: translate(-40px, 60px) rotate(135deg);
    }

    75% {
        transform: translate(70px, -20px) rotate(225deg);
    }
}

@keyframes move3 {

    0%,
    100% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(-5px, 5px) rotate(60deg);
    }

    50% {
        transform: translate(2px, -2px) rotate(70deg);
    }

    75% {
        transform: translate(-5px, 10px) rotate(140deg);
    }
}

@keyframes move4 {

    0%,
    100% {
        transform: translate(0, 0) rotate(60deg);
    }

    25% {
        transform: translate(50px, -50px) rotate(60deg);
    }

    50% {
        transform: translate(-30px, 90px) rotate(150deg);
    }

    75% {
        transform: translate(50px, -40px) rotate(270deg);
    }
}

/* Individual particle styles */
.particle:nth-child(1) {
    background-color: #ff6b6b;
    top: 10%;
    left: 10%;
    animation: move1 70s infinite;
    animation-delay: 1s;
    opacity: 0.4;
}

.particle:nth-child(2) {
    background-color: #4ecdc4;
    top: 20%;
    right: 80%;
    animation: move2 70s infinite;
    animation-delay: 1s;
}

.particle:nth-child(3) {
    background-color: #45b7d1;
    top: 60%;
    left: 10%;
    animation: move3 70s infinite;
    animation-delay: 1s;
}

.particle:nth-child(4) {
    background-color: #484948;
    top: 45%;
    left: 10%;
    animation: move4 70s infinite;
    animation-delay: 1s;
}

.particle:nth-child(5) {
    background-color: #feca57;
    top: 60%;
    right: 20%;
    animation: move1 70s infinite;
    animation-delay: 1s;
}

.particle:nth-child(6) {
    background-color: #ff9ff3;
    top: 35%;
    right: 20%;
    animation: move4 70s infinite;
    animation-delay: 1s;
}
.particle:nth-child(7) {
    background-color: #ffa502;
    top: 30%;
    right: 15%;
    animation: move3 70s infinite;
    animation-delay: 1s;
    opacity: 0.5;
}

.particle:nth-child(8) {
    background-color: #54a0ff;
    top: 30%;
    left: 13%;
    animation: move2 70s infinite;
    animation-delay: 1s;
}

.particle:nth-child(9) {
    background-color: #5f27cd;
    top: 75%;
    left: 10%;
   animation: move1 70s infinite;
    animation-delay: 1s;
}

.particle:nth-child(10) {
    background-color: #00d2d3;
    top: 25%;
    right: 5%;
    animation: move3 70s infinite;
    animation-delay: 1s;
    opacity: 0.4;
}

.particle:nth-child(11) {
    background-color: #e09df8;
    top: 5%;
    right: 15%;
    animation: move4 70s infinite;
    animation-delay: 1s;
    opacity: 0.5;
}

.particle:nth-child(12) {
    background-color: #ee5253;
    top: 35%;
    right:20%;
    animation: move2 70s infinite;
    animation-delay: 1s;
    opacity: 0.5;
}

.particle:nth-child(13) {
    background-color: #0abde3;
    top: 55%;
    left: 15%;
    animation: move1 70s infinite;
    animation-delay: 1s;
}

.particle:nth-child(14) {
    background-color: #10ac84;
    top: 20%;
    right: 10%;
    animation: move3 70s infinite;
    animation-delay: 1s;
}

.particle:nth-child(15) {
    background-color: #ff5252;
    top: 70%;
    right: 5%;
    animation: move2 70s infinite;
    animation-delay: 1s;
}

.particle:nth-child(16) {
    background-color: #3742fa;
    top: 40%;
    right: 17%;
   animation: move1 70s infinite;
    animation-delay: 1s;
}
.particle:nth-child(17) {
    background-color: #c84bf1;
    top: 3%;
    right: 10%;
    animation: move4 70s infinite;
    animation-delay: 1s;
}
.particle:nth-child(18) {
    background-color: #fa7537;
    top: 8%;
    left: 17%;
    animation: move2 70s infinite;
    animation-delay: 1s;
    opacity: 0.5;
}
.particle:nth-child(19) {
    background-color: #f371e8;
    top: 80%;
    left: 30%;
   animation: move4 70s infinite;
    animation-delay: 1s;
    opacity: 0.5;
}
.particle:nth-child(20) {
    background-color: #3c3c3d;
    top: 10%;
    right: 40%;
   animation: move2 70s infinite;
    animation-delay: 1s;
}
.particle:nth-child(21) {
    background-color: #afafe7;
    top: 50%;
    right: 6%;
    animation: move4 70s infinite;
    animation-delay: 1s;
}
.particle:nth-child(22) {
    background-color: #9f0eed;
    top: 70%;
    right: 20%;
    animation: move1 70s infinite;
    animation-delay: 1s;
}
.particle:nth-child(23) {
    background-color: #d9d7da;
    top: 20%;
    left: 80%;
    animation: move2 70s infinite;
    animation-delay: 1s;
    opacity: 0.5;
}
.particle:nth-child(24) {
    background-color: #6f6e6f;
    top: 80%;
    right: 10%;
    animation: move3 70s infinite;
    animation-delay: 1s;
}
.particle:nth-child(25) {
    background-color: #a6d9de;
    top:68%;
    left: 20%;
    animation: move4 70s infinite;
    animation-delay: 1s;
}
.particle:nth-child(26) {
    background-color: #3d3e3d;
    top: 30%;
    right: 10%;
    animation: move1 70s infinite;
    animation-delay: 1s;
}
.particle:nth-child(27) {
    background-color: #343434;
    top: 80%;
    left: 10%;
    animation: move2 70s infinite;
    animation-delay: 1s;
}
.particle:nth-child(28) {
    background-color: #3c3c3c;
    top: 40%;
    right: 70%;
    animation: move3 70s infinite;
    animation-delay: 1s;
}
.particle:nth-child(29) {
    background-color: #343435;
    top: 20%;
    right: 90%;
    animation: move4 70s infinite;
    animation-delay: 1s;
}
.particle:nth-child(30) {
    background-color: #c5e6d4;
    top: 90%;
    right: 30%;
    animation: move1 70s infinite;
    animation-delay: 1s;
}


