@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #212121;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c3e50
}

/* NAVBAR STYLING */
.background {
  background-color: #1976d2;
}

.footer-a-links {
  text-decoration: underline;
  color: #fff;
}

.footer-a-links:hover {
  text-decoration: underline;
}

.menu {
  color: #fff;
  margin-left: 20px;
}

.menu.selected {
  color: #64b5f6;
}

.links {
  color: #1976d2;
}

.links:hover {
  opacity: 0.7;
}

.nav-links {
  color: #fff;
}

.nav-links:hover {
  color: #64b5f6;
}

.coloured-btn {
  background-color: #1976d2;
  color: #fff;
}

.coloured-btn:hover {
  background-color: #1976d2;
}

.bold-text {
  color: #1976d2;
}


/* HOME COMPONENT-1 */
.component1-container {
  background-color: #f5f5f5;
}
.component1-icons{
  background-color: #e9f2fa;
  padding:20px 40px 20px 20px;
  border-radius: 50%;
}

.fa-check,
.fa-square-check,
.fa-calendar-week,
.fa-chart-line {
  color: #1976d2;
  font-size: 25px;
}

.fa-check {
  color: #43a047;
}


/* HOME COMPONENT-2 */
.complete-control-text {
  background-color: #e9f2fa;
  width: 60%;
  margin: 25px 5px 0 40px;
  padding: 4px;
  border-radius: 30px;
  color: #1976d2;
}

.coloured-card {
  margin-left: 50px;
  border: 3px solid #1976d2;
  border-radius: 15px;
  background-color: #fafafa;
}

/* BLOG COMPONENT */
.blogs-container {
  width: 14rem;
  box-shadow: 5px 5px 10px #f4f3f3;
}

.capsule-text {
  font-size: 10px;
  border: 1px solid #cfd1d1ff;
  padding: 4px 7px;
  border-radius: 10px;
  color: #2c2c2c;
}

/* PRICING COMPONENT */
.pricing-cards {
  margin-right: 15px;
  border: 0.4px solid #bbbabaff;
  border-radius: 30px;
}

.fa-xmark {
  font-size: 20px;
}

.complete-text {
  width: auto;
  padding: 4px 10px;
  background-color: #e9f2fa;
  border-radius: 30px;
  color: #1976d2;
}

.pricing-card2 {
  margin-left: 15px;
  border: 2px solid #1976d2;
  border-radius: 30px;
  background-color: #fafafa;
}

.pomodoro-card {
  border: 0.3px solid #424242;
  border-top: 4px solid #1976d2;
  border-radius: 10px;
}
.steps-chart-content{
  line-height: 10px;
}
.goto-dashboard:hover{
  text-decoration: underline;
  color: #6e7983;
}